

// General purpose 
    arrow_single: arrow_single {
        label = "arrow_single";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <20>;
        tap-ms = <20>;
        bindings = <&macro_tap &kp MINUS &kp GREATER_THAN>
        ;
    };

    arrow_double: arrow_double {
        label = "arrow_double";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <20>;
        tap-ms = <20>;
        bindings = <&macro_tap &kp EQUAL &kp GREATER_THAN>
        ;
    };

    surround_brace: surround_brace {
            label = "surround_brace";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings = <&macro_tap &kp LBRC &kp RBRC &kp LEFT>
            ;
    };

    surround_paran: surround_paran {
        label = "surround_paran";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <20>;
        tap-ms = <20>;
        bindings = <&macro_tap &kp LPAR &kp RPAR &kp LEFT>
        ;
};
    
    surround_bracket: surround_bracket {
        label = "surround_bracket";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <20>;
        tap-ms = <20>;
        bindings = <&macro_tap &kp LBKT &kp RBKT &kp LEFT>
        ;
    };
    
    git_add: git_add {
        label = "git_add";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <20>;
        tap-ms = <20>;
        bindings = <&macro_tap &kp G &kp I &kp T &kp SPACE &kp A &kp D &kp D &kp SPACE &kp DOT &kp ENTER>
        ;
    };

    git_commit: git_commit {
        label = "git_commit";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <20>;
        tap-ms = <20>;
        bindings = <&macro_tap &kp G &kp I &kp T &kp SPACE &kp C &kp O &kp M &kp M &kp I &kp T &kp SPACE &kp MINUS &kp M &kp SPACE &kp APOS &kp APOS &kp LEFT>
        ;
    };

    git_push: git_push {
        label = "git_push";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <20>;
        tap-ms = <20>;
        bindings = <&macro_tap &kp G &kp I &kp T &kp SPACE &kp P &kp U &kp S &kp H>
        ;
    };

    double_esc: double_esc {
        label = "double_esc";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <20>;
        tap-ms = <20>;
        bindings = 
            <&macro_tap &kp ESC>
            , <&macro_wait_time 30>
            , <&macro_tap &kp ESC>
        ;
    };

// system shortcuts
    macro_undo: macro_undo {
        compatible = "zmk,behavior-macro";
        label = "macro_undo";
        #binding-cells = <0>;
        wait-ms = <0>;
        tap-ms = <40>;
        bindings = 
            <&macro_press &kp LCTRL>
            , <&macro_tap &kp Z>
            , <&macro_release &kp LCTRL>
        ;
    };

    macro_cut: macro_cut {
        compatible = "zmk,behavior-macro";
        label = "macro_cut";
        #binding-cells = <0>;
        wait-ms = <0>;
        tap-ms = <40>;
        bindings = 
            <&macro_press &kp LCTRL>
            , <&macro_tap &kp X>
            , <&macro_release &kp LCTRL>
        ;
    };

    macro_copy: macro_copy {
        compatible = "zmk,behavior-macro";
        label = "macro_copy";
        #binding-cells = <0>;
        wait-ms = <0>;
        tap-ms = <40>;
        bindings = 
            <&macro_press &kp LCTRL>
            , <&macro_tap &kp C>
            , <&macro_release &kp LCTRL>
        ;
    };

    macro_paste: macro_paste {
        compatible = "zmk,behavior-macro";
        label = "macro_paste";
        #binding-cells = <0>;
        wait-ms = <0>;
        tap-ms = <40>;
        bindings = 
            <&macro_press &kp LCTRL>
            , <&macro_tap &kp V>
            , <&macro_release &kp LCTRL>
        ;
    };

    macro_redo: macro_redo {
        compatible = "zmk,behavior-macro";
        label = "macro_redo";
        #binding-cells = <0>;
        wait-ms = <0>;
        tap-ms = <40>;
        bindings = 
            <&macro_press &kp LCTRL>
            , <&macro_tap &kp Y>
            , <&macro_release &kp LCTRL>
        ;
    };

    macro_all: macro_all {
        compatible = "zmk,behavior-macro";
        label = "macro_all";
        #binding-cells = <0>;
        wait-ms = <0>;
        tap-ms = <40>;
        bindings = 
            <&macro_press &kp LCTRL>
            , <&macro_tap &kp A>
            , <&macro_release &kp LCTRL>
        ;
    };
