// Home row speed settings 
#define hms_base_low_resistance_keycaps 500
#define hms_base_high_resistance_keycaps 200
#define hms_base 500
#define HMS_VVSLO (hms_base + 300)



// home row mods

hm_gq: homerow_mods_gq {   
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <150>;
        quick-tap-ms = <100>;
        global-quick-tap;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
};

hm_gq_test: homerow_mods_gq_test {   
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <125>;
        quick-tap-ms = <75>;
        global-quick-tap;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
};

// keys 

skq: sticky_key_quick_release {
        compatible = "zmk,behavior-sticky-key";
        label = "STICKY_KEY_QUICK_RELEASE";
        #binding-cells = <1>;
        bindings = <&kp>;
        release-after-ms = <400>;
        quick-release;
        ignore-modifiers;
};

// layer settings 

ltms: layer_tap_mod {
        compatible = "zmk,behavior-hold-tap";
        label = "ltms";
        #binding-cells = <2>;
        tapping-term-ms = <500>;
        quick-tap-ms = <0>;
        flavor = "tap-preferred";
        bindings = <&mo>, <&kp>;
};


// mouse settings

// this changes the movement speed of the mouse
mmv_constant: mouse_mod {
        compatible = "zmk,behavior-mouse-move";
        label = "mouse_move_constant";
        #binding-cells = <1>;
        delay-ms = <0>;
        time-to-max-speed-ms = <0>;
        acceleration-exponent = <0>;
};

// this changes the scrolling behavior
mwh_acceleration_fast: mouse_scroll_mod_fast {
        compatible = "zmk,behavior-mouse-scroll";
        label = "MOUSE_SCROLL";
        #binding-cells = <1>;
        delay-ms = <0>;
        time-to-max-speed-ms = <2000>;
        acceleration-exponent = <1>;
}; 

mwh_accel_crawl: mouse_scroll_mod_slow {
        compatible = "zmk,behavior-mouse-scroll";
        label = "MOUSE_SCROLL";
        #binding-cells = <1>;
        delay-ms = <0>;
        time-to-max-speed-ms = <0>;
        acceleration-exponent = <0>;
};
